@{
    ViewBag.Title = "Cats";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<div class="row">
    <div class="col-md-4 col-sm-6">
        <h2>Maine Coon</h2>
        <img src="~/Content/Images/mainecoon.jpg" />
        <p>
          4999:-
        </p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Norsk Skogskatt</h2>
        <img src="~/Content/Images/norskskogskatt.jpg" />
        <p>2899:- </p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Bengal</h2>
        <img src="~/Content/Images/bengal.jpg" />
        <p>8599:-</p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Sibirisk Katt</h2>
        <img src="http://www.zaribs.se/www.zaribs.se/BORYA_uppdat/BORYA_uppdat_files/Nastasiia%20tradgarssoffa%20140430.jpg" />
        <p>
           Pris: 9999:-
        </p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Sphynx</h2>
        <img src="~/Content/Images/sphynx.jpg" />
        <p>Pris: 11000:-</p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Brittisk Korthår</h2>
        <img src="~/Content/Images/brittiskkorthar.jpg" />
        <p>Pris: 6599:-</p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Burma</h2>
        <img src="~/Content/Images/burma.jpg" />
        <p>
            Pris: 7999:-
        </p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Devon Rex</h2>
        <img src="~/Content/Images/devonrex.jpg" />
        <p>Pris: 13000:-</p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Huskatt</h2>
        <img src="~/Content/Images/huskatt.jpg" />
        <p>Pris: 399:-</p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Perser</h2>
        <img src="~/Content/Images/perser.jpg" />
        <p>
           Pris: 4999:-
        </p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Ragdoll</h2>
        <img src="~/Content/Images/ragdoll.jpg" />
        <p>Pris: 24000:-</p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Lägg i varukorg &raquo;</a></p>
    </div>

    <div class="col-md-4 col-sm-6">
        <h2>Russian Blue</h2>
        <img src="~/Content/Images/russianblue.jpg" />
        <p>Pris: 6000:-</p>
        <p>Antal i lager: </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Lägg i varukorg &raquo;</a></p>
    </div>
</div>