@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>It's Purrrfect!</h1>
    <p class="lead">Vi ger dig möjligheten att skaffa din drömkatt!</p>
</div>

<div class="row">
    <div class="col-md-12">
       
        <img src="~/Content/Images/start.jpg" class="img-responsive"/>
       </div>
</div>